body {
    text-align: center;
    font-family: "Lato";
}

h1.lesson-title {
    font-family: "Gotham Black";
    font-size: 3rem;
    color: #850007;
}
.container {
  padding: 2rem;
}

.row {
  margin: 2rem;
}
/* Float - either right or left. Kinda like aligning */
/*.column {
  margin: 30px;
  float: left;
  width: 300px;
}*/


/* Box model - basically its the margin and padding around an object*/
.my-class {
    border: 2px solid green;
    margin: 12px;
    padding: 10px;
    background-color: orange;
}

/*Cascading - Specificity*/

.digital p {
    background-color: red;
}

.analog p {
    background-color: #FF005F;
}


/* simple jQuery Effects */
/*#img-hidden {
    display: none;
}

.peek-paras:hover {
  color: #009FB8;
}*/

/*Animation effects practice*/

/*#img-hidden {
  display: none;
}*/

/*Add and Remove Classes*/
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}


/*Forms*/

#legilimens {
  display: none;
}


/*Debugging in Js*/

#story {
  display: none;
}